

.cont-1{ 
  height:auto;
  width: auto;
  
}

.cont-2{ 
  height: 200px;
  width: 100%;
  
  
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px;
} 
.cont-2 img{ 
  height: 180px;
  width: 30%;
    
  transition: transform 0.4s ease;
  clip-path: polygon(91% 14%, 91% 86%, 76% 100%, 2% 100%, 0% 14%);  

} 
.cont-2  img:hover{
  cursor: pointer;
  transform: scale(1.05);
 } 
.desc {
  text-align: justify;
  margin-top: 20px;
  
 }



.desc h3{
  height: 20px;
  width: 90%;
  margin-top: 5px;
  margin-left: 25px;
  
 }
 .desc  h3:hover{
  cursor: pointer;
  color: red;
  transform: scale(1.05);
 }

.desc p{ 
  height: 40px;
  width: 90%;
  margin-top: 15px;
  margin-left: 25px;

} 
.p {
  color: rgb(136, 132, 132);
  font-size: 10px;
}

.span {
  font-size: 15px;
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
.comm{
  display: flex;
  float: right;
  
  width: 20%;
}

.cm1{
  
  margin-top: -70px;
}
.icon1{
  
  margin-top: -70px;
}

.com {
  display: flex;
  float: right;
  
  margin-top: -40px;
  
}

.cmm{
  padding-right: 5px;
  margin-top: -60px;
  
}
.cnts {
  padding-right: 5px;
  margin-top: -60px;
}

